RAG_Indexing.json
{"flowContents":{"identifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","instanceIdentifier":"00fb0884-0197-1000-919a-59cda418070f","name":"RAG_Indexing","comments":"","position":{"x":3128.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4b27627e-72f0-37cd-8b96-5523c9e8d3e7","instanceIdentifier":"e42375b1-0196-1000-0f38-44e00e42708b","name":"GetFile","comments":"","position":{"x":2968.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/shtlp_0149/NIFI_RAG/input","Maximum File Age":null,"Batch Size":"1","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"3e457353-026f-36b5-9153-4bc0b358e624","instanceIdentifier":"e866a52e-0196-1000-d1f1-a0de4e356eba","name":"MergeContent","comments":"","position":{"x":3400.0,"y":0.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Defragment","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"2d6e04ca-852e-3715-bead-449a440ddd22","instanceIdentifier":"e85ed3d3-0196-1000-c035-0c037af24e5f","name":"InvokeHTTP","comments":"","position":{"x":3392.0,"y":192.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://127.0.0.1:8010/embed","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"1a353a9e-f4a8-3aff-a34d-a860c9c6f922","instanceIdentifier":"e887300f-0196-1000-cbcf-1e240a46d883","name":"LogAttribute","comments":"","position":{"x":3848.0,"y":208.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"6ca06dc2-58cd-3f27-8018-562bf382162a","instanceIdentifier":"e858325a-0196-1000-061c-bdadfb95a32e","name":"SplitJson","comments":"","position":{"x":2976.0,"y":192.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.chunks[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"3c4ee872-be3a-3118-b06b-928a6f0aa57b","instanceIdentifier":"e9c42f01-0196-1000-7335-f1fbf6144e04","name":"ExecuteScript","comments":"","position":{"x":3408.0,"y":368.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonBuilder\n\n// Get the flow file\ndef flowFile = session.get()\nif (!flowFile) return\n\n// Read the content (which should be a text chunk from SplitJson)\ndef text = ''\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    \n    // Create the payload for the embedding service\n    def payload = [\n        texts: [text]\n    ]\n    \n    // Convert to JSON and write to output\n    def json = new JsonBuilder(payload).toString()\n    outputStream.write(json.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Add additional attributes if needed\nflowFile = session.putAttribute(flowFile, \"mime.type\", \"application/json\")\nflowFile = session.putAttribute(flowFile, \"content-type\", \"application/json\")\n\n// Transfer to success relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"c218e59c-4b5b-3664-acff-169c3a112537","instanceIdentifier":"e869c49c-0196-1000-6630-73b930b2c862","name":"UpdateAttribute","comments":"","position":{"x":3400.0,"y":-200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"embedding_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"embedding_timestamp":{"name":"embedding_timestamp","displayName":"embedding_timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"7324512c-6128-33bf-9566-6e8167025e43","instanceIdentifier":"e882b08e-0196-1000-e2ef-3199a98b7247","name":"InvokeHTTP","comments":"","position":{"x":3848.0,"y":8.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://127.0.0.1:8042/store","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"63ebb2d5-bb4c-3b6f-a6c6-2f3bf2e122a9","instanceIdentifier":"e85b5970-0196-1000-2b21-f63c09bf8209","name":"UpdateAttribute","comments":"","position":{"x":2976.0,"y":376.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","text":"${content}","Stateful Variables Initial Value":null,"content type":"application/json"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"text":{"name":"text","displayName":"text","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content type":{"name":"content type","displayName":"content type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"f46cad14-f8fa-3a3a-a94d-a913f8279499","instanceIdentifier":"ea121883-0196-1000-9cb7-c57cb288ba66","name":"ExecuteScript","comments":"","position":{"x":3832.0,"y":-184.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\nflowFile = session.get()\nif (!flowFile) return\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def text = inputStream.getText('UTF-8')\n    def json = new JsonSlurper().parseText(text)\n\n    def texts = json.texts\n    def embeddings = json.embeddings\n\n    def filename = flowFile.getAttribute('filename')\n    def timestamp = new Date().format(\"yyyy-MM-dd HH:mm:ss\")\n\n    def items = []\n\n    // Match each text to its embedding by index\n    texts.eachWithIndex { txt, idx ->\n        def embedding = embeddings[idx]\n\n        // ✅ Fix 1: Convert text list to single string if needed\n        def cleanedText = (txt instanceof List) ? txt.join(\" \") : txt\n\n        // ✅ Fix 2: Flatten embedding if it's a list of lists\n        def flatEmbedding = embedding.flatten()\n\n        def item = [\n            text: cleanedText,\n            embedding: flatEmbedding,\n            metadata: [\n                filename : filename,\n                index    : idx,\n                timestamp: timestamp\n            ]\n        ]\n        items << item\n    }\n\n    def result = [items: items]\n    def jsonOut = JsonOutput.toJson(result)\n    outputStream.write(jsonOut.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"05c58130-72a6-30b2-b8e7-0f4d12e247c2","instanceIdentifier":"e84bc924-0196-1000-d607-471fcf5edf52","name":"ExecuteScript","comments":"","position":{"x":2968.0,"y":8.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonBuilder\nimport java.util.regex.Pattern\n\ndef flowFile = session.get()\nif (!flowFile) return\n\n// Define preprocessing functions\ndef preprocessText(String text) {\n    text = text.toLowerCase()                      // Convert to lowercase\n    text = text.replaceAll(/\\s+/, \" \")             // Replace multiple spaces with single space\n    text = text.replaceAll(/[^\\w\\s\\.\\?\\!]/, \"\")    // Remove special characters except sentence-ending punctuation\n    return text\n}\n\n// Simple chunk creation function (breaks by paragraph or every ~1000 chars)\ndef createChunks(String text) {\n    def chunks = []\n    \n    // First try to split by paragraphs\n    def paragraphs = text.split(/\\n\\s*\\n/)\n    \n    for (paragraph in paragraphs) {\n        paragraph = paragraph.trim()\n        if (!paragraph) continue\n        \n        // If paragraph is very long, break it down further\n        if (paragraph.length() > 1000) {\n            // Split by sentences (simple heuristic)\n            def sentences = paragraph.split(/(?<=[.!?])\\s+/)\n            def currentChunk = \"\"\n            \n            for (sentence in sentences) {\n                if (currentChunk.length() + sentence.length() < 1000) {\n                    currentChunk += currentChunk ? \" \" + sentence : sentence\n                } else {\n                    if (currentChunk) {\n                        chunks.add(currentChunk)\n                    }\n                    currentChunk = sentence\n                }\n            }\n            \n            if (currentChunk) {\n                chunks.add(currentChunk)\n            }\n        } else {\n            chunks.add(paragraph)\n        }\n    }\n    \n    // If no paragraphs were found, use a simpler approach\n    if (chunks.isEmpty()) {\n        int chunkSize = 1000\n        for (int i = 0; i < text.length(); i += chunkSize) {\n            int end = Math.min(i + chunkSize, text.length())\n            chunks.add(text.substring(i, end))\n        }\n    }\n    \n    return chunks\n}\n\n// Process the text\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    // Read the text content\n    String text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    \n    // Preprocess the text\n    String processedText = preprocessText(text)\n    \n    // Create chunks\n    def chunks = createChunks(processedText)\n    \n    // Create a JSON document with the chunks\n    def result = [\n        text: processedText,\n        chunks: chunks,\n        chunk_count: chunks.size(),\n        filename: flowFile.getAttribute('filename')\n    ]\n    \n    // Convert to JSON and write to output\n    def json = new JsonBuilder(result).toPrettyString()\n    outputStream.write(json.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Update attributes\nflowFile = session.putAttribute(flowFile, \"mime.type\", \"application/json\")\nflowFile = session.putAttribute(flowFile, \"processed.timestamp\", String.valueOf(System.currentTimeMillis()))\nflowFile = session.putAttribute(flowFile, \"chunks.count\", String.valueOf(flowFile.getAttribute('chunk_count')))\n\n// Transfer to success relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e044f8c4-8c8a-31fb-92f7-1cccf6e59406","instanceIdentifier":"e9c4f347-0196-1000-0de3-2a5248452e03","name":"","source":{"id":"63ebb2d5-bb4c-3b6f-a6c6-2f3bf2e122a9","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"e85b5970-0196-1000-2b21-f63c09bf8209"},"destination":{"id":"3c4ee872-be3a-3118-b06b-928a6f0aa57b","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"ExecuteScript","comments":"","instanceIdentifier":"e9c42f01-0196-1000-7335-f1fbf6144e04"},"labelIndex":0,"zIndex":41,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"a73ca6f5-44b3-37b5-aa50-e39cc1fca509","instanceIdentifier":"e86abae2-0196-1000-555c-66ec25cda143","name":"","source":{"id":"3e457353-026f-36b5-9153-4bc0b358e624","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"MergeContent","comments":"","instanceIdentifier":"e866a52e-0196-1000-d1f1-a0de4e356eba"},"destination":{"id":"c218e59c-4b5b-3664-acff-169c3a112537","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"e869c49c-0196-1000-6630-73b930b2c862"},"labelIndex":0,"zIndex":34,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"fc5ee13d-80dd-3cbf-8458-fb1d34f541aa","instanceIdentifier":"e9c50e8d-0196-1000-e12d-d6f7b2964ef9","name":"","source":{"id":"3c4ee872-be3a-3118-b06b-928a6f0aa57b","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"ExecuteScript","comments":"","instanceIdentifier":"e9c42f01-0196-1000-7335-f1fbf6144e04"},"destination":{"id":"2d6e04ca-852e-3715-bead-449a440ddd22","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e85ed3d3-0196-1000-c035-0c037af24e5f"},"labelIndex":0,"zIndex":42,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"b71cf510-d172-3e19-a020-0bfbe2d52fc4","instanceIdentifier":"e887abca-0196-1000-8b35-378374ae7aba","name":"","source":{"id":"7324512c-6128-33bf-9566-6e8167025e43","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e882b08e-0196-1000-e2ef-3199a98b7247"},"destination":{"id":"1a353a9e-f4a8-3aff-a34d-a860c9c6f922","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"LogAttribute","comments":"","instanceIdentifier":"e887300f-0196-1000-cbcf-1e240a46d883"},"labelIndex":0,"zIndex":38,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"13835124-a2f9-32a3-a5f0-7b692b10c9e1","instanceIdentifier":"e85d02fe-0196-1000-4dce-fbee3601ebad","name":"","source":{"id":"6ca06dc2-58cd-3f27-8018-562bf382162a","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"SplitJson","comments":"","instanceIdentifier":"e858325a-0196-1000-061c-bdadfb95a32e"},"destination":{"id":"63ebb2d5-bb4c-3b6f-a6c6-2f3bf2e122a9","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"e85b5970-0196-1000-2b21-f63c09bf8209"},"labelIndex":0,"zIndex":30,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"5544e796-e9ea-3a3e-9467-33c89d23b290","instanceIdentifier":"e84f1ba8-0196-1000-6c93-0e4408a0773c","name":"","source":{"id":"4b27627e-72f0-37cd-8b96-5523c9e8d3e7","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"GetFile","comments":"","instanceIdentifier":"e42375b1-0196-1000-0f38-44e00e42708b"},"destination":{"id":"05c58130-72a6-30b2-b8e7-0f4d12e247c2","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"ExecuteScript","comments":"","instanceIdentifier":"e84bc924-0196-1000-d607-471fcf5edf52"},"labelIndex":0,"zIndex":28,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"d7e4f38e-7057-3520-b56f-b8671a59b189","instanceIdentifier":"ea1317e7-0196-1000-f3ad-3b6e331b6bb6","name":"","source":{"id":"f46cad14-f8fa-3a3a-a94d-a913f8279499","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"ExecuteScript","comments":"","instanceIdentifier":"ea121883-0196-1000-9cb7-c57cb288ba66"},"destination":{"id":"7324512c-6128-33bf-9566-6e8167025e43","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e882b08e-0196-1000-e2ef-3199a98b7247"},"labelIndex":0,"zIndex":44,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"3508b1ab-c226-33bd-a261-8329617492f5","instanceIdentifier":"e85ac06c-0196-1000-26ad-ce6088614c80","name":"","source":{"id":"05c58130-72a6-30b2-b8e7-0f4d12e247c2","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"ExecuteScript","comments":"","instanceIdentifier":"e84bc924-0196-1000-d607-471fcf5edf52"},"destination":{"id":"6ca06dc2-58cd-3f27-8018-562bf382162a","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"SplitJson","comments":"","instanceIdentifier":"e858325a-0196-1000-061c-bdadfb95a32e"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"4922d454-3f21-3d50-a35a-0d403d4f49f8","instanceIdentifier":"ea12ff5e-0196-1000-55f2-527eb4977df2","name":"","source":{"id":"c218e59c-4b5b-3664-acff-169c3a112537","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"e869c49c-0196-1000-6630-73b930b2c862"},"destination":{"id":"f46cad14-f8fa-3a3a-a94d-a913f8279499","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"ExecuteScript","comments":"","instanceIdentifier":"ea121883-0196-1000-9cb7-c57cb288ba66"},"labelIndex":0,"zIndex":43,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"},{"identifier":"73e3f71b-8dac-3e8f-bb30-87ed65fc753b","instanceIdentifier":"e8696472-0196-1000-ab4c-36a188fbe6cc","name":"","source":{"id":"2d6e04ca-852e-3715-bead-449a440ddd22","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e85ed3d3-0196-1000-c035-0c037af24e5f"},"destination":{"id":"3e457353-026f-36b5-9153-4bc0b358e624","type":"PROCESSOR","groupId":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c","name":"MergeContent","comments":"","instanceIdentifier":"e866a52e-0196-1000-d1f1-a0de4e356eba"},"labelIndex":0,"zIndex":33,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ca1d24b-b0c6-3437-884a-4019a1e9db0c"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}